.card_visit {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px;
  border-radius: 5px;
  border-color: lightgray;
  margin: 2px;
  flex-wrap: wrap;
  padding: 3px;
  background-color: #f9f9f9;
}

.card_visit > .link {
  font-size: 15px;
  margin: 0px;
}

.card_visit > .visit_id {
  font-size: 8px;
  color: slategrey;
}